numpy
pandas
scipy
plotly
matplotlib
seaborn
kaleido

google-generativeai
langchain-google-genai
langchain
langchain-community
langchain-experimental
langgraph

tavily-python 
langchain-tavily

tabulate
